/*
Modelo de Cajas de la plantilla chooseMap
 */
*{
	padding: 0px;
	margin: 0px;
}

body{
	height: 100%;
}

.mapTitle{
	font-family: opcionUno;
	color: white;
}

.mapImages{
    height: 300px;
    margin: 10px;
}

.matchMap{
	display: flex;
	flex-direction:column;
	margin-top: 35px;
	align-items:center;
	height: 100%;
}

.mapInputStart{
	padding: 5px 5px;
}

.mapInfoUser{
	display: flex;
	flex-direction:column;
	align-items:center;
	font-family: opcionUno;
	color: white;
	margin-bottom: 5px;
}

.mapWrapper{
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction:column;
	width: 50%;
	align-items:center;
	justify-content:center;
}

.mapList{
	margin: 10px 10px;
	display: flex;
	flex-direction:column;
	align-items:center;
	height: 80%;
	width: 35%;
}

.mapInputs{
	display: flex;
	flex-direction:row;
	padding: 10px 10px;
}

.mapInformation{

}