/*
Modelo de Cajas de la plantilla chooseMap
 */
*{
	padding: 0px;
	margin: 0px;
}

body{
	height: 100%;
}

.mapTitle{
	font-family: opcionUno;
	color: white;
}

.mapImages{
    height: 300px;
    margin: 10px;
}

.matchMap{
	height: 100%;
}

.mapInputStart{
	padding: 5px 5px;
	border-radius: 10px;
	margin-bottom: 10px ;
}

.mapInfoUser{
	font-family: opcionUno;
	color: white;
	background-color: rgba(39,97,135,1);
	padding: 15px 15px;
	border-radius: 5px;
	width: 60%;
}

.mapWrapper{
	width: 50%;
}

.mapList{
	height: 75%;
	width: 100%;
	background-color: rgba(39,97,135,1);
	border-radius: 10px;
	padding: 10px 10px;
}

.mapInputs{
	padding: 10px 10px;
	border-radius: 10px;
}

.mapInformation{

}