@import 'fonts.css';

*{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
/**/
html,body{
	background-image: url("../img/background2.jpg");
  	background-size: cover;
    overflow: hidden;
    height: 100%;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

.configurationMapWrapper{
	height: 100%;
}

.configurationMapContinents{
	height: 100%;
	width: 20%;
	background-color: rgba(226,228,230, 0.5);
	padding: 10px 10px 10px 10px;
}

.configurationMapOptionsWrapper{
	height: 100%;
	width: 15%;
	background-color: rgba(226,228,230, 0.5);
}

.configurationMapOptions{
	padding: 10px 10px 10px 10px;
	height: 100%;
}

.configurationMapCanvas{
	width: 100%;
	height: 100%;
}

.configurationMapDrawer{
	width: 85%;
	height: 80%;
	background-color: rgba(226,228,230, 0.9);
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.drawerMapConfiguration{
	background-color: rgba(0,0,200,0.6);
	border-radius: 10px;
	display: none;
	left:45%;
	right:40%;
	top:30%;
    z-index: 100;
    position: fixed;
    width: 25%;
}

.titleWrapper{
	margin: 5px;
	background-color: rgba(226,228,230, 0.9);
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

.map{
	width: 150px;
	height: 100px;
	margin: 10px 10px;
}

label {
	margin: 10px;
	text-align: center;
}

tr {
	height: 40px;
}

td{
	margin: 15px;
	text-align: center;
	padding: 5px;
}

#configurationMapOptions div img{
	font-size: 30px;
	cursor: pointer;
	margin: 10px;
	background-color: rgba(0,0,96,1);
	padding: 20px;
}

.notification{
	position: fixed;
	z-index: 20;
	height: 100px;
	width: 325px;
	background-color: rgba(0,0,96,1);
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	border-radius: 10px;
	font-family: opcionUno;
	font-size: 18px;
}

.notificationButton{

}

.notificationButton input{
	margin: 10px;
	width: 100px;
	border-radius: 5px;
	cursor: pointer;
}