@import 'fonts.css';

*{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
/**/
html,body{
	background-color:#484f57; 
	height: 100%;
}

.gameWrapper{
	width: 100%;
	height: 100%;
}

.barWrapper{
	width: 100%;
	margin: 10px;
	font-family: opcionUno;
}

.barOption{

}

.playersWrapper{
	width: 5%;
}

.boardWrapper{
	width: 100%;
	background-color: white;
}

.actionWrapper{
	margin: 20px;
}

.tile{
	border: 2px solid black;
	width: 100px;
	height: 100px;
}