#wraper{
	display: flex;
	flex-direction: row;

}

object {
	height: 700px;
	width: 1000px;
}


#playerList{
	width: 20%;
	margin-right: 10px;
	margin-top: 20px;
}

#map{
	height: 100%;
	width: 100%;
}

.player{
	border-style: solid;
    border-width: 3px;
    border-color:black;
    padding: 15px;
}

