*{
	font-family: opcionUno;
}

.row-table:hover{
	background-color:#000096;
	color: white;
}

.matchButtons{
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	margin: 10px 5px;
}