@import 'fonts.css';

*{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
/**/
html,body{
	background-color:#484f57; 
	height: 100%;
}

body{
	background-image: url("../img/background.jpg");
  	background-size: cover;
}

.u-flex-column{
	display: flex;
	flex-direction:column;
}

.u-flex-row{
	display: flex;
	flex-direction:row;
}

.u-justify-center{
	justify-content:center;
}

.u-align-center{
	align-items:center;
}

.u-align-end{
	align-items:flex-end;
}

.u-justify-space-around{
	justify-content: space-around;
}

.matchWrapper{
	width: 100%;
	height: 100%;
}

.matchNickNameWrapper,.matchParameterWrapper,.mapParameterWrapper,.matchesList{
	background-color: rgba(226,228,230, 0.5);
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
}

.matchDescription{
	font-family: opcionDos;
}

.matchLabel{
	font-family: opcionUno;
}

.matchInputs{
	margin: 10px 5px;
}

.matchInputsButton{
	margin: 10px;
}

.button{
	background-color: #000096;
	border-radius: 8px;
	color: white;
	font-family: opcionUno;
	font-size: 16px;
	margin: 5px 5px;
	padding: 5px 5px;
	cursor: pointer;
	transition: all 0.6s ease;
}

.button:hover{
	background-color: rgb(44,247,244);
	color: black;
}

.input{
	font-size: 16px;
	margin: 5px 5px;
	font-family: opcionUno;
}

img{
	background-size: cover;
}



/*Create match*/

.matchParameterTitles{
	padding: 10px 10px 0px 10px;
	font-family: opcionUno;
}

.match-Options{
	font-family: opcionUno;
	margin: 5px 5px;
}

.match-Modes,.match-NumPlayer{
	display: flex;
	flex-direction : row;
	margin: 10px 5px;
}

select,input,label{
	font-family: opcionUno;
}

/**/

.row-table-header{
	font-family: opcionUno;
	margin: 10px 10px;
}

.row-table-header td{
	font-size: 24px;
	margin: 10px;
}

.row-table{
	font-family: opcionUno;
	margin: 10px 10px;
}

.tableWrapper{
	padding: 10px;
	margin: 10px;
}