#popMove {
  background-color: rgba(226,228,230,1);
  border-radius: 6px;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: start;
  height: 60%;
  width: 40%;
  position: fixed;
  top: 20%;
  left: 30%;
  right: 30%;
  z-index: 100;
  border: 3px solid white;
}


#content_move{
  background: #e2e4e6;
  margin: 2.5%;
  color: black;
  font-family: opcionUno;
  overflow-y: auto;
}

#buttons_move{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.buttonBattle {
    background-color: #000096;
    border-radius: 8px;
    color: #FFF;
    font-family: opcionUno;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.6s ease 0s;
}