#popMove {
   background-color: rgba(226,228,230,1);
  border-radius: 6px;
  color: white;
  display: none;
  position: fixed;
  top: 20%;
  left: 30%;
  right: 30%;
  z-index: 100;
  width: 500px;
  height: 350px;
  border: 3px solid white;
}


#content_move{
  background: #e2e4e6;
  margin: 2.5%;
  color: black;
  font-family: opcionUno;
  overflow-y: auto;
  position: absolute;
  top: 250px;
}

#buttons_move{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 300px;

}

#content_move_canvas{
  position: absolute;

}