.matchInfoWrapper{
	background-color: rgba(226,228,230, 0.5);
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
}

.mapInfo{
	padding: 10px 10px;
	margin: 20px 0px;
}

.matchInfo {
	width: 100%;
	margin: 10px 0px;
}