#receiveCard_PopUp {
  background-color: rgba(226,228,230,1);
  border-radius: 6px;
  color: white;
  display: none;
  position: fixed;
  top: 20px;
  left: 100px;
  z-index: 100;
  border: 3px solid white;
  width: 500px;
  height: 350px;
  top: 10%;
  left: 30%;
  right: 30%;
}

#receiveCardCanvas{
  position: absolute; 
  top: 30px;
  left: 50px;
}


#content_receiveCard{
  width: 95%;
  height: 30px;
  margin: 2.5%;
  color: black;
  font-family: opcionUno;
  justify-content: center;
}


#button_recive_card{
  display: flex;
  justify-content: center;
  position: absolute; 
  top: 400px;
  left: 160px;
}
