#traceCard_PopUp {
  background-color: rgba(226,228,230, 1);
  border-radius: 6px;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: start;
  height: 90%;
  width: 70%;
  position: fixed;
  z-index: 100;
  border: 3px solid white;
  top: 10%;
  left: 21%;
}

#changeCardsCanvas{
  border-width: 1px;
  position: absolute; 
  top: 40px;
  left: 10px;
}

#traceCar_content{
  width: 95%;
  height: 30px;
  margin: 2.5%;
  color: black;
  font-family: opcionUno;
  justify-content: center;
}

#traceCar_message{
  width: 95%;
  height: 30px;
  margin: 2.5%;
  color: black;
  font-family: opcionUno;
  justify-content: center;
  position: absolute; 
  top: 400px;
}


#button_trace_card{
  display: flex;
  justify-content: center;
  position: absolute; 
  top: 450px;
  left: 160px;
}

