<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ChooseMap</title>
	<script type="text/javascript" src="/js/chooseMap.js"></script>
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/match.css">
	<link rel="stylesheet"  type="text/css" href="/css/chooseMap.css" >
</head>
<body>

	<div class="matchMap u-flex-column u-justify-center u-align-center" >
		<div class="mapParameterWrapper u-flex-column u-justify-center u-align-center" style="width:40%;">
			<div class="mapInfoUser u-flex-column u-align-center" style="width: 70%;">
				<h1 class="mapTitle">Match of {{nick}}</h1>
				{% if mode == 'World Domination' %}
					<img src="img/globe.png">
  				{% endif %}
  				{% if mode == 'Secret Mission' %}
					<img src="img/secret.png">
  				{% endif %}
  				{% if mode == 'Capital' %}
					<img src="img/capital.png">
  				{% endif %}
				<h1 class="mapTitle">{{mode}}</h1>
			</div>
			<div class="u-flex-column u-justify-center u-align-center " style="width: 70%;">
					
					<div class="mapList u-flex-column u-align-center" >
						<h1 class="mapTitle"> Choose a Preload Map </h1>
						<div class="mapInformation">
							<select id="mapChosen" name="mapChosen" form="optionsMap" onChange="changeContent(this);" >
								<option id="map1" name="Map1" selected>Ecuador</option>
								<option id="map2" name="Map2">Brazil</option>
								<option id="map3" name="Map3">USA</option>
								<option id="map4" name="Map4">World</option>
								<option id="map5" name="Map5">China</option>
							</select>
						</div>
						<img class="mapImages" name="listaImagenes" src="/img/ecuador.png" width="350px" height="250px" />
						<div class="mapInputs flex-row">
							<input type="button" value="Customize Map" class="button" onclick="customizeMap();">
						</div>
					</div>
			</div>
			<div class="mapInputStart">
				<form id="optionsMap" name="optionsMap" method="post" action="/setMap">
					<input type="button" value="Previous" class="button" onclick="previousPage();">
					<input name = "mapButton" type = "submit" value = "Create Match" 
						   class = "button">
				</form>
			</div>
		</div>
	</div>
</body>
</html>