<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ChooseMap</title>
	<script type="text/javascript" src="/js/chooseMap.js"></script>
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/match.css">
	<link rel="stylesheet"  type="text/css" href="/css/chooseMap.css" >
</head>
<body>
	<div class="matchTitle">
		<h1 >DRISK</h1>
	</div>
	<div class="matchMap" >
		<div class="mapInfoUser">
			<h1 class="mapTitle">Match of {{nick}}</h1>
			<h1 class="mapTitle">Mode of {{mode}}</h1>
		</div>
		<div class="mapWrapper">
			<div class="mapInputs">
				<input type="button" value="Previous" class="button" onclick="previousPage();">
				<input type="button" value="Customize Map" class="button" >
			</div>
			<h1 class="mapTitle"> Choose a Preload Map </h1>
			<div class="mapList" >
				<div class="mapInformation">
					<select id="mapChosen" name="mapChosen" form="optionsMap" onChange="changeContent(this);" >
						<option id="map1" name="Map1" selected>Ecuador</option>
						<option id="map2" name="Map2">Brazil</option>
						<option id="map3" name="Map3">USA</option>
						<option id="map4" name="Map4">World</option>
						<option id="map5" name="Map5">China</option>
					</select>
				</div>
				<img class="mapImages" name="listaImagenes" src="/img/ecuador.png" />
			</div>
		</div>
		<div class="mapInputStart">
			<form id="optionsMap" name="optionsMap" method="post" action="/setMap">
				<input name = "mapButton" type = "submit" value = "Create Match" 
					   class = "button">
			</form>
		</div>
	</div>
</body>
</html>