<!DOCTYPE html>
<html>
	<head>
		<title>DRISK</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, game, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="js/createMatch.js"></script>
		<link rel="stylesheet" type="text/css" href="css/match.css">
		<script type="text/javascript">
			var nick = "{{nick}}";
			var idMatch= "{{idMatch}}";
		</script>
	</head>
	<body>
		<div class="matchTitle">
			<h1 >DRISK</h1>
		</div>
		<div class = "matchWrapper">
			<div class="matchParameterWrapper">
				<div class="matchParameterTitles">
					<h1 >Welcome {{nick}},{{idMatch}}</h1>
					<h2 >Creation Wizard</h2>
				</div>
				<div class="matchInputs">
					<table class="match-Options">
					<tr>		
						<td>
							<label class="matchLabel" > Max Number Player: </label>
						</td>
						<td>
							<form id="dataMatchForm" method="post" action="/setDataMatch">
								<input form = "dataMatchForm" id = "inputMaxPlayer" name = "numPlayer" type="text" pattern="[0-6]" required>
							</form>
						</td>
					</tr>
					<tr>
						<td>
							<label> Modes </label>
						</td>
						<td>
							<select form = "dataMatchForm" name = "gameMode" >
							    <option value="World Domination">World Domination</option>
							    <option value="Secret Mission">Secret Mission</option>
							    <option value="Capital">Capital</option>
							</select>
						</td>
				    </tr>
			    	</table>
			   		<input id = "inputMatch" type="button" value="Next" class="button" onclick="sendData();" >
			   	</div>
		   	</div>
		</div>
	</body>
</html>