<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Customize Map</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/match.css">
	<link rel="stylesheet" type="text/css" href="css/customizeMap.css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/lib/paperjs/dist/paper-full.js"></script>
	<script type="text/javascript" src="/js/configurationOptions.js"></script>
	<script type="text/javascript" src="/js/configurationTool.js"></script>
	<script type="text/javascript" src="/js/configurationWorker.js"></script>
	<script type="text/javascript" src="/js/customizeMap.js"></script>
</head>
<body>
	<div class="configurationMapWrapper u-flex-row u-align-center">
		<div id="continents" class="configurationMapContinents u-flex-column u-align-center u-justify-center">
			<label>Select Continents</label>
			<img id="europe" class="map" draggable="true" src="../svg/Europe.svg">
			<img id="northAmerica" class="map" draggable="true" src="../svg/NorthAmerica.svg">
			<img id="southAmerica" class="map" draggable="true" src="../svg/SouthAmerica.svg">
			<!--<img id="asia" class="map" draggable="true" ondragstart="handleDragStart(event);" src="../svg/DifferentCountryWorld.svg">-->
			<img id="africa" class="map" draggable="true" src="../svg/Africa.svg">
		</div>
		<div id="drawerMapParent" class="configurationMapCanvas u-flex-column u-align-center u-justify-center">
			<div class="titleWrapper">
				<label>Configure Map</label>
			</div>
			<canvas id="drawerMap" class="configurationMapDrawer"></canvas>
			<div><input type="button" class="button" value="Accept" onclick=""></div>
			<div id = "drawerMapConfiguration" class="drawerMapConfiguration u-flex-column u-align-center u-justify-center">
				<label>Parameters</label>
				<table class="u-flex-column">
					<tr class="row-table"> 
						<td><label>Color</label></td>
						<td><input id="colorInput" type=color pattern="#[a-f0-9]{6}" title="hexadecimal color" placeholder="#000000"></td>
					</tr>
					<tr class="row-table "> 
						<td><label>Size</label></td>
						<td><input id="sizeInput" type="range" min="0.1" max="1" value="0.6" step="0.1" id="fader" oninput="outputUpdate(value)"></td>
						<td><output for="fader" id="outSize" >60%</output></td>
					</tr>
					<tr class="row-table"> 
						<td><label>Rotation</label></td>
						<!--<td><input id="rotationInput" type="number" min="0" max="180" step="5" value ="0"/></td>-->
						<td><input id="rotationInput" type="range" min="0" max="180" value="0" step="5" id="degrees" oninput="degresUpdate(value)"></td>
						<td><output for="degrees" id="outDegrees">0°</output></td>
					</tr>
				</table>
				<div class="u-flex-row u-align-center u-justify-center">
					<input type="button" class="button" value="Accept" onclick="changeParameters(this);">
					<input type="button" class="button" value="Cancel" onclick="closeParameters(this);">
				</div>
			</div>
		</div>
		<div class="configurationMapOptionsWrapper u-flex-column u-align-center">
			<!--<div class="u-flex-column u-align-center">
				<label>Select a Option</label>	
			</div>-->
			<div id="configurationMapOptions" class="configurationMapOptions u-flex-column u-justify-center">
				<div class="u-flex-column u-align-center">
					<img id="optDragAndDrop" src="https://maxcdn.icons8.com/Color/PNG/48/Hands/whole_hand-48.png" title="Move a continent!" width="48">
				</div>
				<div class="u-flex-column u-align-center">
					<img id="optRemove" src="https://maxcdn.icons8.com/Color/PNG/48/Industry/trash-48.png" title="Remove a continent" width="48">
				</div>
				<div class="u-flex-column u-align-center">
					<img id="optDivide" src="https://maxcdn.icons8.com/Color/PNG/48/Maps/world_map-48.png" title="Divide territories in continent" width="48">
				</div>
				<div class="u-flex-column u-align-center">
					<!--<img src="https://maxcdn.icons8.com/Color/PNG/96/Maps/waypoint_map-96.png" title="Waypoint Map" width="96">-->
					<img id="optLinks" src="https://maxcdn.icons8.com/Color/PNG/48/Maps/waypoint_map-48.png" title="Link continents" width="48">
				</div>
				<div class="u-flex-column u-align-center">
					<img id="optParameters" src="https://maxcdn.icons8.com/Color/PNG/48/User_Interface/settings_3-48.png" title="Configure continent" width="48">
				</div>
			</div>
		</div>
	</div>
</body>
</html>