<!DOCTYPE html>
<html>
	<head>
		<title>DRISK</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, game, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="js/games.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/list.css">
	</head>
	<body>
		<div id = "wraper">
			<h1 >{{nickname}}, choose a match</h1></br>

			<div id = "list">
				<table id = "table" style="width:100%">
				  
				</table>
			</div>

		</br>
		</br>

			<span>
				<input type = "button" id = "btnJoin" class="button" value = "Join"  />
				<input type = "button" id = "btnBack" class="button" value = "Back" />
			</span>
		</div>

	</body>
</html>