<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/game.css">
	<link rel="stylesheet" type="text/css" href="css/match.css">
	<link rel="stylesheet" type="text/css" href="css/battle.css">
	<link rel="stylesheet" type="text/css" href="css/traceCard.css">
	<link rel="stylesheet" type="text/css" href="css/receiveCard.css">
	<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="js/graphlib.min.js" ></script>
	<script type="text/javascript" src="js/lib/paperjs/dist/paper-full.js"></script>
	<script src="../socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/stateMachine.js" ></script>	
	<script type="text/javascript" src="js/game.js" ></script>
	<script type="text/javascript" src="js/battle.js" ></script>
	<title></title>
	<script>
			var idMatch = {{idMatch}};
			var nick= "{{nick}}"; 
	</script>
</head>
<body style="background-image: url('../img/background_earth.png');
			 background-repeat: repeat;">
	{% include './battle.html' %}
	{% include './traceCards.html' %}
	{% include './receiveCards.html' %}
	<div id = "canvas">
	</div>
	<div class="gameWrapper u-flex-column u-align-center">
		<div class="barWrapper u-flex-row u-justify-center">
			<div class="barOption">
				<span>Cards</span>
				<img src="../img/cards.jpg" width="45px" height="45px">
				<!--<span>0</span>-->
			</div>
			<div class="barOption">
				<span>Soldiers</span>
				<img src="../svg/soldierIcon.svg" width="45px" height="45px" />
				<span id="soldierNum"></span>
			</div>
		</div>
		<div class="u-flex-column">
			<div class="mapWrapper u-flex-row u-align-center">
				<table id ="listPlayer" class="listPlayerWrapper">

				</table >
				<canvas id="myCanvas" width="900" height="500"></canvas>
				<span id = "myTurn" class="turn">Your turn</span>
			</div>
			<div class="actionWrapper u-flex-row u-justify-center">
				<input id="" type="button" class="actionButton" value="Change">
				<input id="reforceAction" type="button" class="actionButton" value="Reforce">
				<input id="attackAction" type="button" class="actionButton" value="Attack">
				<input id="moveAction" type="button" class="actionButton" value="Move" >
			</div>
		</div>
	</div>
</body>
</html>