<!DOCTYPE html>
<html>
	<head>
		<title>DRISK</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, game, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/match.css">
		<script type="text/javascript">
			function init(){
				error="{{error}}";
				btnJoin.addEventListener("click",joinMatch,false);
				btnCreate.addEventListener("click",createMatch,false);
				if (error=='nick') {
					alert('el nickname ya existe!, escoja otro');
				};
			}
			function joinMatch(event){
				console.log(inputNick.value);
				var val = NickForm.checkValidity();
				if(val){
					NickForm.action = "/joinMatch";
					NickForm.submit();					
				}else{
					alert("Enter nickname correctly!!");
				}
				console.log(inputNick.value);
			}

			function createMatch(event){
				var val = NickForm.checkValidity();
				if(val){
					NickForm.action = "/createMatch";
					NickForm.submit();
				}else{
					alert("Enter nickname correctly!!");
				}
			}
			window.addEventListener("load",init,false);
		</script>
	</head>
	<body>
		<div class = "matchWrapper u-flex-column u-align-center u-justify-center">
			<div class="matchNickNameWrapper  u-flex-column u-align-center">
				<img src="img/risk_logo.png" height="75px" width="auto">
				<div class="matchDescription">
					<section>
						<article>
							<p>Dynamically version of Risk</p>
						</article>
					</section>
				</div>
				<div class="matchInputs u-flex-column u-align-center u-justify-center">
					<form id="NickForm" method="post">
						<input form="NickForm" class="input" id = "inputNick" name = "nick" type="text" 
						placeholder="Insert your nickname" pattern="[A-Za-z]{6,20}" required>
					</form>
					<div class = "matchInputsButton u-flex-row">
						<input id = "btnCreate" class="button" name="createMatch" 
						type="button" value="Create Match" >
						<input id = "btnJoin" class="button" name="joinMatch" type="button" value="Join Match">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>