<!DOCTYPE html>
<html>
	<head>
		<title>DRISK</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, game, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="js/match.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/match.css">
		<script type="text/javascript">
			function init(){
				btnJoin.addEventListener("click",joinMatch,false);
				btnCreate.addEventListener("click",createMatch,false);
			}
			function joinMatch(event){
				console.log(inputNick.value);
				var val = inputNick.checkValidity();
				if(val){
					if(inputNick.value.length != 0){
						console.log(inputNick.value);
						window.location.href = "/games?nick=" + inputNick.value;
					}
				}else{
					alert("Enter nickname correctly!!");
				}

				
				console.log(inputNick.value);
			}

			function createMatch(event){
				console.log(inputNick.value);
				var val = inputNick.checkValidity();
				if(val){
					if(inputNick.value.length != 0){
						NickForm.submit();
					}
				}else{
					alert("Enter nickname correctly!!");
				}
			}

			window.addEventListener("load",init,false);
		</script>
	</head>
	<body>
		<div class="matchTitle">
			<h1 >DRISK</h1>
		</div>
		<div class = "matchWrapper">
			<div>
				<img src="">
			</div>
			<div class="matchNickNameWrapper">
				<div class="matchDescription">
					<section>
						<article>
							<p>Dynamically version of Risk</p>
						</article>
					</section>
				</div>
				<div class="matchInputs">
					<form id="NickForm" method="post" action="/createMatch">
						<input class="input" id = "inputNick" name = "nickname" type="text" 
						placeholder="Insert your nickname" pattern="[A-Za-z]{6,20}">
					</form>
					<div class = "matchInputsButton">
						<input id = "btnCreate" class="button" name="createMatch" 
						type="button" value="Create Match" >
						<input id = "btnJoin" class="button" name="joinMatch" type="button" value="Join Match">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>