<!DOCTYPE html>
<html>
	<head>
		<title>DRISK</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, waitroom, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="js/publicMatch.js" ></script>
		<script src="../socket.io/socket.io.js"></script>
		<link rel="stylesheet" type="text/css" href="css/match.css">
		<link rel="stylesheet" type="text/css" href="css/publicMatch.css">
		<script>
			var idMatch = {{idMatch}};
		</script>
	</head>
	<body>
		<div class = "matchWrapper u-flex-column u-align-center u-justify-center">
			<div class="matchInfoWrapper">
				<div class = "u-flex-column u-align-center u-justify-center" >
					<div class="matchInfo u-flex-row u-justify-space-around">
						<label class="matchLabel"> Max Player: {{numPlayer}}</label>
						<label class="matchLabel"> Game Mode: {{mode}}</label>
					</div>
					<label class="matchLabel"> Mapa: {{nameMap}}</label>
					<div class="mapInfo u-flex-column u-align-center u-justify-center" >
						<img src = "img/map.jpg" width = "700px" heigh = "500px">
					</div>
				</div>
				<div class="matchInputsButton u-flex-row u-justify-center">
					<input id = "btnPrev" type = "button" value = "Previous" class = "button"/>
					<input id = "btnPublic" type = "button" value = "Public" class = "button"/>
				</div>
			</div>
		</div>
	</body>
</html>