<!DOCTYPE html>
<html>
	<head>
		<title>DRISK</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
		<meta name="description" content="List of games">
		<meta name="keywords" content="RISK, waitroom, SCORE-2016">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script src="../socket.io/socket.io.js"></script>
		<script type="text/javascript" src="js/graphlib.min.js" ></script>
		<script type="text/javascript" src="js/waitroom.js" ></script>
		<link rel="stylesheet" type="text/css" href="/css/match.css">
		<!--<link rel="stylesheet" type="text/css" href="css/table.css">-->
		<style type="text/css">
			h1{
				font-family: opcionUno;
			}
		</style>
	</head>
	<body>
		<script>
		var idMatch = "{{idMatch}}";
		</script>
		<div class="matchTitle">
			<h1 >DRISK</h1>
		</div>
		<div id = "wraper" class="matchWrapper">
			<h1 >Please, Wait until the game begins</h1></br>
			<div class="infoMatch">
				<div id = "info-game">
					<h3 id= "numPlayers"> </h3>
					<h3 id= "gameMode"> </h3>
					<div id="map" >
						<img src = "images/map1.jpg" width = "500px" heigh = "200px">

						</img>
					</div>
				</div>
				<div id = "players" class = "CSSTableGenerator">
					<table id = "tablePlayers" style="width:100%">
					  
					</table>
				</div>
			</div>
	</body>
</html>